.scholarship-container {
  margin-top: 120px;
}
.scholarship-container {
  margin-top: 120px;
}

.scholarhip-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: teal;
}

.scholarship-para {
  /* padding: 25px; */
  font-weight: 400;
  font-size: 25px;
}

.scholarshp-img img {
  width: 760px;
  height: 300px;
  margin-left: 350px;
}

.scholarship-mid-paragraph {
  font-weight: 400;
  font-size: 25px;
}

.scholarship-benefits {
  font-weight: 400;
  font-size: 25px;
}

.scholarship-lower-paragraph {
  font-weight: 400;
  font-size: 25px;
}

.scholarship-container {
  margin-left: 30px;
}

.scholarhip-header1 {
  color: teal;
}

.scholarhip-header2 {
  color: teal;
}

.scholarhip-header3 {
  color: teal;
}

/* Add this at the end of your existing CSS */

@media only screen and (max-width: 600px) {
  /* Adjustments for small screens */

  .scholarship-container {
    margin-left: 0;
    padding: 10px;
    /* Add padding for better readability on small screens */
  }

  .scholarship-para,
  .scholarship-mid-paragraph,
  .scholarship-benefits,
  .scholarship-lower-paragraph {
    font-size: 18px;

    /* Adjust font size for better readability on small screens */
  }

  .scholarshp-img img {
    width: 100%;
    /* Make the image fill the width of the container */
    height: auto;
    /* Maintain aspect ratio */
    margin-left: 0;
    /* Remove left margin */
  }

  /* You can add more adjustments as needed */
}
