div#carouselExampleIndicatorsMobile.carousel.slide {
  /* top: 100px; */
  margin: 100px 0 40px 0;
}
div#carouselExampleIndicators.carousel.slide {
  /* margin-top: 100px; */
  margin: 100px 0 40px 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(140, 140, 140);
}
