.footer-container {
  background: teal;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  color: white;
}

.links-list {
  list-style: none;
}

.footer-contactAddress {
  display: flex;
  align-items: center;
}

.footer-mobile {
  display: flex;
  align-items: center;
}

.footer-email {
  display: flex;
  align-items: center;
}

.footer-contactPara {
  padding-left: 16px;
}

.contact-logo {
  margin-bottom: 16px;
}
.footer-logo-container > a > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.footer-quicklinks-container > h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.footer-contact-container > h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* Media query for screens smaller than 600px (typical mobile devices) */
@media only screen and (max-width: 640px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-quicklinks-container {
    margin-top: 20px;
  }

  .footer-contact-container {
    margin-top: 20px;
    padding: 0 8px;
  }

  .footer-contactAddress,
  .footer-mobile,
  .footer-email {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-contactAddress {
    gap: 0;
  }

  .contact-logo {
    margin-bottom: 8px;
  }
}
