.courses-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.courses-main-heading {
  color: #008080;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 120px;
}

.img-section {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.img-section img {
  max-width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 100%;
  transition: color 0.3s ease, transform 0.3s ease;
}

.img-section:hover .text {
  transform: translate(-50%, -50%) scale(1.1);
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .courses-main-heading {
    font-size: 32px;
  }

  .text {
    font-size: 32px;
  }

  .img-section {
    margin: 20px;
  }
}

@media screen and (max-width: 640px) {
  .courses-main-heading {
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }

  .img-section {
    margin: 15px;
  }
}

@media screen and (max-width: 480px) {
  .courses-main-heading {
    font-size: 22px;
  }

  .text {
    font-size: 22px;
  }

  .img-section {
    margin: 10px;
  }

  .img-section img {
    max-width: 100%;
    height: 70px;
  }
}
